{% extends 'base.html.twig' %}


{% block body %}

    <head>
        <link href="{{ asset('css/basique.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
    </head>
    <div class="logo-container"> 
        <img class="logo" src="{{ asset('images/logo.png') }}" alt="logo!"/>
    </div>
    <div class="btn-container">
        <a href="/create/session" class="bouton"> <div class="items-container"> <p> Nouvelle Session </p><img class="fleche" src="{{ asset('images/fleche.png') }}" alt="logo!"/></div></a>
       <a href="/historique" class="bouton"> <div class="items-container">  <p>Historique </p><img class="fleche" src="{{ asset('images/fleche.png') }}" alt="logo!"/></div></a>
       <a href="/statistique" class="bouton"> <div class="items-container"> <p>Statistiques</p> <img class="fleche" src="{{ asset('images/fleche.png') }}" alt="logo!"/> </div></a>

    </div>

{% endblock %}
