{% extends 'base.html.twig' %}



{% block body %}
<head>
        <link href="{{ asset('css/basique.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/partie.css') }}" rel="stylesheet"/>
    </head>

<div class="nav"> 
        <div class="nav2-container"> 
            <a href="/" ><img href="/" class="fleche" src="{{ asset('images/fleche-gauche.png') }}" alt="logo!"/></a>
            <p>Rapport</p>
        </div>
    </div>

<div class="rendu">

<img href="/" class="affiche" src="{{ asset('images/cible_14x14_10a_small.png') }}" alt="logo!"/>
</div>

<div class="points">

    <div class ="point"><p>1</p></div>
    <div class ="point"> <p>2</p></div>
    <div class ="point"> <p>3</p></div>
    <div class ="point"> <p>4</p></div>
    <div class ="point"> <p>5</p></div>
    <div class ="point"> <p>6</p></div>
    <div class ="point"> <p>7</p></div>
    <div class ="point"><p>8</p> </div>
    <div class ="point"> <p>9</p></div>
    <div class ="point"><p>10</p> </div>

</div>

<div class="container-stats">

    <div class="container-items-stats"> 
        <div class="container-item-stat"> 
            <img href="/" class="icone-stat" src="{{ asset('images/balle.png') }}" alt="balle!"/>
            <p> 10 tirs </p>
        </div>
        <div class="container-item-stat"> 
            <img href="/" class="icone-stat" src="{{ asset('images/cible.png') }}" alt="balle!"/>
            <p> 90 pts </p>
        </div>
    </div>
    <div class="container-items-stats"> 
        <div class="container-item-stat"> 
            <img href="/" class="icone-stat" src="{{ asset('images/metre-ruban.png') }}" alt="balle!"/>
            <p> 10m </p>
        </div>
        <div class="container-item-stat"> 
            <img href="/" class="icone-stat" src="{{ asset('images/sablier.png') }}" alt="balle!"/>
            <p> 00:00 </p>
        </div>
    </div>
</div>

<div class="button-container">
    <button class="btn btn-pause">Pause</button>
    <button class="btn btn-abandon">Abandon</button>
</div>


<div>
</div>

{% endblock %}
